*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
.clear {
  clear: both;
}
.Container {
  padding:7px;
}
h1 {
  height:100px;
  text-align:center;
  padding:15px;
  background:#333;
  color:#fff;
  font-family:Arial, Helvetica, sans-serif;
}
input {
  float:left;
  margin-right:15px;
  height:30px;
  width:20px;
  margin-top:7px;
}
.date {
  float:right;
}
.p{
  height:39px;
  line-height:38px;
  border-bottom:1px dashed rgb(153, 150, 150);
}
p{
  width:250px;
  float:left;
}
/* select {
  width:100px;
  background:rgb(247, 192, 192);
} */
 button {
  float:right;
  margin-top:7px;
  margin-right:15px;
  padding: 5px 8px;
  background-color:rgb(221, 9, 9);
  color:#fef;
  border:none;
  border-radius: 50%;
  cursor: pointer;
 }
form {
  display:flex;
  margin-bottom:7px;
}
.bttn {
  display:inline-block;
  padding:10px 22px;
  border:none;
  background:rgb(131, 255, 131);
  color:#333;
  cursor: pointer;
}
